body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1{
    font-size: 50px;
}
.name{
    color: crimson ;
}
.flexible-container{
    display: flex;
    margin: 10px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}

.half-width img{
    width: 80%;
    height: 80%;
    border-radius: 200px;
    margin-right: 20px 40px;
    padding-right: 25px 45px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(crimson, rgb(123, 8, 50));
    background-color: crimson;
    font-weight: 700;
    color: white;

    padding: 10px 40px;
    border-radius: 5px;
}
.top-banner{
    background-image: url(top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 20px 30px;
}
.experience-item{
    width: 40%;
    margin-left: 10px;
    margin-right: 15px;
    padding-left: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray ;
    border-left: 10px solid;

}
.position{
    text-align: center;
   
}
.experience-area{
    background-image:url(exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#Web-dev-exp{
    border-left: 7px solid;
    border-image: linear-gradient(crimson,cyan);
    border-image-slice: 1;
}
#full-stack-web-exp{
    border-left: 7px solid;
    border-image: linear-gradient(purple,blue);
    border-image-slice: 1;
}
.footer{
    text-align: center;
    color: crimson;
    margin-bottom: 0;
}